{%extends 'base.html'%}
{%load static%}
{%block konten%}
<div id="content">
    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        
        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <div class="">
            <!-- <h1 class="h3 mb-0 text-gray-800 font-weight-bold">Dashboard</h1> -->
        </div>

        <!-- sweet alert -->
        {%for message in messages%}
        {% if message.tags == 'success' %}                     
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>                                            
        <script>
            var m="{{message}}";
            swal("Login",m,"success");
        </script>
        {%else%}
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>                                            
        <script>
            var m="{{message}}";
            swal("Login",m,"danger");
        </script>
        {% endif %}
        {%endfor%}

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                    aria-labelledby="searchDropdown">
                    <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small"
                                placeholder="Search for..." aria-label="Search"
                                aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">    
                <a class="nav-link dropdown-toggle" href="" id="userDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="text-transform: capitalize;">{{user}}</span>
                    <img class="img-profile rounded-circle"
                        src="{%static 'img/icon.png'%}">
                </a>
                <!-- Dropdown - User Information -->
                <a class="scroll-to-top rounded" href="#page-top">
                    <i class="fas fa-angle-up"></i>
                </a>
                

                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                    aria-labelledby="userDropdown">
                  
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'signout' %}" onclick="return confirm('Apakah Anda yakin ingin keluar?')">
                        {% csrf_token %}
                        <button type="submit" class="dropdown-item">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </button>
                    </a>
                </div>
            </li>

        </ul>

    </nav>
    <!-- End of Topbar -->

    <!-- Begin Page Content -->
    <div class="container-fluid">
        
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"></h1>
        </div>

        <!-- Content data-->
        <div id="carouselExampleIndicators" class="carousel slide mb-4" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'img/slide1.png' %}" class="d-block w-100" alt="..." style="height: 30%;">
              </div>
              <div class="carousel-item ">
                <img src="{% static 'img/slide2.png' %}" class="d-block w-100" alt="..." style="height: 30%;">
              </div>
              <div class="carousel-item ">
                <img src="{% static 'img/slide3.png' %}" class="d-block w-100" alt="..." style="height: 30%;">
              </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">PEMILIK KOS</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><a href="#" class="text-gray-800">Jumlah {{jlh_pemilik}} Orang</a></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">PENYEWA</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><a href="#" class="text-gray-800">Jumlah {{jlh_pemesan}} Orang</a></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">TOTAL KOS</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><a href="" class="text-gray-800">Jumlah {{total_kos}} </a></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">PENDAPATAN TOTAL PENYEWAAN</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><a href="" class="text-gray-800"><span id="pendapatan">{{total_pendapatan_sewa.total}}</span></a></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Visualisasi Data Penyewa Berdasarkan Jenis Kelamin</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                               
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                aria-labelledby="dropdownMenuLink">                                            
                            </div>
                        </div>
                    </div>
                    <div class="card-body" >
                        <div id="container" style="width:100%; height:400px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Visualisasi Data Penyewa Berdasarkan Kos</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                               
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                aria-labelledby="dropdownMenuLink">                                            
                            </div>
                        </div>
                    </div>
                    <div class="card-body" >
                        <div id="container2" style="width:100%; height:400px;"></div>
                    </div>
                </div>
            </div>
        </div>
    
        
        
        <!-- end content data-->
    </div>

</div>


{%endblock konten%}


<!-- SCRIPT -->   
{%block script%}
<script>
    // Ambil elemen yang berisi harga
    var hargaElement = document.getElementById("pendapatan");

    // Ambil nilai harga dari elemen tersebut
    var harga = hargaElement.textContent.trim();

    // Ubah string harga menjadi angka
    var hargaAngka = parseInt(harga);

    // Buat fungsi untuk mengubah angka menjadi format mata uang Rupiah
    function formatRupiah(angka) {
        var reverse = angka.toString().split('').reverse().join('');
        var ribuan = reverse.match(/\d{1,3}/g);
        ribuan = ribuan.join('.').split('').reverse().join('');
        return 'Rp ' + ribuan;
    }

    // Ubah nilai harga menjadi format mata uang Rupiah
    var hargaFormatted = formatRupiah(hargaAngka);

    // Masukkan kembali nilai yang sudah diformat ke dalam elemen HTML
    hargaElement.textContent = hargaFormatted;
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const chart = Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Jumlah Penyewa per Jenis Kelamin'
            },
            xAxis: {
                categories: [
                    {% for item in pembagian_jenis_kelamin %}
                        '{{ item.jenis_kelamin }}',
                    {% endfor %}
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Total Pemesanan'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.0f} pemesanan</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Total Pemesanan',
                color: 'rgb(251, 28, 110)', // Ubah warna grafik menjadi pink
                data: [
                    {% for item in pembagian_jenis_kelamin %}
                        {{ item.total }},
                    {% endfor %}
                ]
            }]
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const chart = Highcharts.chart('container2', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Jumlah Penyewa per Kos'
            },
            xAxis: {
                categories: [
                    {% for item in jumlah_pemesanan_per_kos %}
                        '{{ item.kos__nama }}',
                    {% endfor %}
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Total Pemesanan'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.0f} pemesanan</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Total Pemesanan',
                color: 'rgb(251, 28, 110)', // Ubah warna grafik menjadi pink
                data: [
                    {% for item in jumlah_pemesanan_per_kos %}
                        {{ item.total }},
                    {% endfor %}
                ]
            }]
        });
    });
</script>

{%endblock script%}