{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BAIQ KOS</title>
  <link href="{% static 'img/icon.png' %}" rel="icon">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <style>
    .kos a .kos-card{
    width: 320px;
    border-radius: 22px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgb(211, 211, 211);
  }
  .kos a .kos-card #bg{
    width: 320px;
    border-radius: 0;
  }
  .kos .kos-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    display: block;
    border-radius: .5rem;
    object-fit: cover;
  }
  </style>
</head>
<body>

  <nav class="navbar">
    <div class="navbar-logo">
      <a href="{% url 'index' %}"><img src="{% static 'img/LOGO.png' %}" alt="Logo"></a>
    </div>
    <div class="navbar-menu">
      <ul class="menu-items">
        <li><a href="{% url 'pusat_bantuan' %}">Pusat Bantuan</a></li>
        <li><a href="{% url 'syarat_ketentuan' %}">Syarat & Ketentuan</a></li>
      </ul>
    </div>
    <div class="hamburger-menu">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </nav>


  <div class="container">
    <!-- header -->
    <div class="header1">
      <img src="{% static 'img/bg_hero.png' %}" alt="bg hero">
      
      <!-- Formulir Pencarian -->
      <div class="forms">
        <h1>Mau cari <span>Kos?</span></h1>
        <p id="slogan">Dapatkan infonya dan langsung sewa di BaiqKos</p>
        <form action="" method="GET">
            <ion-icon name="search-outline" id="iconsch"></ion-icon>
            <input type="text" name="q" placeholder="Cari Lokasi atau Nama Kos" value="{{ request.GET.q }}">
            <button type="submit">Cari</button>
        </form>
      </div>

      
    </div>
    <!-- carosel -->
    <div class="image-container">
      <div class="image-wrapper">
        <div>
          <img src="{% static 'img/promo1.png' %}" alt="" id="img-slide" >
        </div>
        <div>
          <img src="{% static 'img/promo2.png' %}" alt="" id="img-slide">
        </div>
        <div>
          <img src="{% static 'img/promo3.png' %}" alt="" id="img-slide">
        </div>       
      </div>
    </div>
    <!-- Formulir Filter -->
    <!-- Formulir Filter -->
<div class="filter">
  <form action="" method="GET">
    <label for="jenis">Filter berdasarkan :</label>
    <br>
    <select name="jenis" id="jenis" style="margin-top: 10px;">
      <option value="">Pilih Jenis Kos</option>
      <option value="Putra" {% if request.GET.jenis == "Putra" %} selected {% endif %}>Putra</option>
      <option value="Putri" {% if request.GET.jenis == "Putri" %} selected {% endif %}>Putri</option>
    </select>
    <select name="alamat" id="alamat" style="margin-top: 10px;">
      <option value="">Pilih Alamat</option>
      {% for alamat_item in alamat_list %}
      <option value="{{ alamat_item }}" {% if request.GET.alamat == alamat_item %} selected {% endif %}>{{ alamat_item }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Filter">
  </form>
</div>


    <!-- katalog kos -->
    <div class="kos">
      {% for kos_item in kos %}
      <a href="{% url 'detail' id=kos_item.id %}">
        <div class="kos-card" style="position: relative;">
          {% if kos_item.fotos.all %}
            {%if kos_item.suka <= 2 %}
            <h4 style="color: rgb(255 214 16); position: absolute; left: 10px; top: 20px;"> <ion-icon name="ribbon"></ion-icon> Baru</h4>
            <img src="{{ kos_item.fotos.all.first.foto.url }}" alt="Gambar {{ kos_item.nama }}">
            {% else %}
            <img src="{{ kos_item.fotos.all.first.foto.url }}" alt="Gambar {{ kos_item.nama }}">
            {% endif %}
          {% endif %}
          <div class="kos-title" style="text-transform: capitalize;">
            <!-- ket 1 -->
            <div class="kos-ket1">
              <!-- sub ket -->
              <div class="kos-sub1">
                <h5>{{ kos_item.jenis }}</h5>
                <p>sisa {{ kos_item.sisa_kamar }} kamar</p>
              </div>
              <!-- love -->
              <div class="kos-love">
                <ion-icon name="heart"></ion-icon>
                <p>{{ kos_item.suka }}</p>
              </div>
            </div>
  
            <!-- ket 2 -->
            <h2 style="font-size: 15px;"> 
              <span id="formatted-harga-{{ forloop.counter }}" style="font-size: 25px;">Rp {{ kos_item.harga_per_tahun }}</span>/Tahun
            </h2>
            <h1 id="namakos">Kos {{ kos_item.nama }}</h1>
            <span id="alamat">Alamat: {{ kos_item.alamat }}</span>
          </div>
        </div>
      </a>

      <script>
        // Ambil nilai harga dari elemen HTML
        var hargaElement = document.getElementById("formatted-harga-{{ forloop.counter }}");
        var harga = hargaElement.innerText;
    
        // Hapus "Rp " dan ubah ke tipe data angka
        harga = parseFloat(harga.replace("Rp ", ""));
    
        // Format harga menjadi format mata uang rupiah yang diinginkan
        var formattedHarga = new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(harga);
    
        // Perbarui teks dalam elemen dengan harga yang sudah diformat
        hargaElement.innerText = formattedHarga;
      </script>
      {% endfor %}
    </div>

  </div>

  <!-- sweet alert -->
  {%for message in messages%}
  {% if message.tags == 'success' %}                     
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>                                            
  <script>
      var m="{{message}}";
      swal("Pengajuan Sewa",m,"success");
  </script>
  {%else%}
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>                                            
  <script>
      var m="{{message}}";
      swal("Pengajuan Sewa",m,"error");
  </script>
  {% endif %}
  {%endfor%}


<!-- SCRIPT -->
<script>
  const imageWrapper = document.querySelector('.image-wrapper')
  const imageItems = document.querySelectorAll('.image-wrapper > *')
  const imageLength = imageItems.length
  const perView = 3
  let totalScroll = 0
  const delay = 4000

  imageWrapper.style.setProperty('--per-view', perView)
  for(let i = 0; i < perView; i++) {
    imageWrapper.insertAdjacentHTML('beforeend', imageItems[i].outerHTML)
  }

  let autoScroll = setInterval(scrolling, delay)

  function scrolling() {
    totalScroll++
    if(totalScroll == imageLength + 1) {
      clearInterval(autoScroll)
      totalScroll = 1
      imageWrapper.style.transition = '0s'
      imageWrapper.style.left = '0'
      autoScroll = setInterval(scrolling, delay)
    }
    const widthEl = document.querySelector('.image-wrapper > :first-child').offsetWidth + 24
    imageWrapper.style.left = `-${totalScroll * widthEl}px`
    imageWrapper.style.transition = '.3s'
  }
</script>

<script>
  const hamburgerMenu = document.querySelector('.hamburger-menu');
  const menuItems = document.querySelector('.menu-items');

  hamburgerMenu.addEventListener('click', () => {
    menuItems.classList.toggle('active');
  });

</script>



<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
